#wrapper
{
 margin:auto;
 width: 70%;
 min-width: 1200px;
 text-align: center; 
 padding: inherit;
 font-style:normal;
 border-style: hidden;	
 background-repeat: no-repeat;
}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item 
{
    position: static; 
    width: 100%;
	height: 100%;
}

#searchSection
{
	position: absolute;
	top: 300px;
}

